/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: #181818;
    color: #333;
    
    scroll-behavior: smooth; /* Habilita el scroll suave */
}


.dots {
    width: 100%;
    height: 100%;
    background-image: radial-gradient(rgba(255, 255, 255, 0.11) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
    background-attachment: fixed;
  }

a {
    text-decoration: none;
    color: inherit;
}

/* HEADER */
header {
    background: rgb(7,7,9);
background: -moz-linear-gradient(90deg, rgba(7,7,9,1) 0%, rgba(52,32,1,1) 91%);
background: -webkit-linear-gradient(90deg, rgba(7,7,9,1) 0%, rgba(52,32,1,1) 91%);
background: linear-gradient(90deg, rgba(7,7,9,1) 0%, rgba(52,32,1,1) 91%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#070709",endColorstr="#342001",GradientType=1);   
    position: sticky; /* Fija la barra de navegación */
    top: 0.5vh;
    z-index: 1000;
    width: 99%;
    color: #ff5100;
    margin: 0 auto;
    height: 15%;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 1vw;
}

header nav ul li {
    margin: 0 2%;
    position: relative; /* Necesario para efecto */
}

header nav ul li a {
    font-weight: 600;
    font-size: 0.8rem;
    color: #f5efec;
    position: relative;
    transition: color 0.3s ease;
}
header nav ul li a.active {
    color: #ff5100;
}

header nav ul li a::after {
    content: '';
    position: absolute;
    bottom: -0.5px;
    left: 0;
    width: 0;
    height: 1px;
    background: #ff5100;
    transition: width 0.3s ease, left 0.3s ease;
}

header nav ul li a::after {
    content: '';
    position: absolute;
    bottom: -0.5px;
    left: 0;
    width: 0;
    height: 1px;
    transition: width 0.3s ease, left 0.3s ease;
}

header nav ul li a.active::after {
    width: 100%;
}


/* SECCIÓN INICIO */
.hero {
    text-align: center;
    color: #faf4f4;
    position: relative;
    margin-top: -5%;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: start;
    flex-wrap: wrap;

}



.image-container {
    text-align: center;
    width: 50vw;
}

img {
    max-width: 100%;
    width: auto;      
    height: auto;
}




 @media (max-width: 500px) {
    .image-container {
        transform: scale(1.5);
        margin-top: 10%;
    }
} 



.heroText {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    animation: fadeIn 1s ease-in-out;
}

.hero p {
    font-size: 1rem;
    margin-bottom: 30px;
    animation: fadeIn 1.2s ease-in-out;
}

.hero .btn-cta {
    padding: 12px 25px;
    background: #ff5100;
    color: #3c4142;
    font-weight: 600;
    border-radius: 50px;
    text-decoration: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.hero .btn-cta:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

@media (min-width: 2560px) {

    .hero h1 {
        transform: scale(2);
    }
    

    .hero p{
        transform: scale(2);
    }
  
}


/* SECCIÓN SOBRE NOSOTROS */
.about {
    text-align: center;
    padding: 50px 20px;
    position: relative;
    background: url(Img/s2.webp);
    background-size: contain;  /* La imagen cubrirá toda el área sin cortarse */
    background-position: center ;  /* Centra la imagen dentro del contenedor */
    background-repeat: no-repeat; 
    
}

.about h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    animation: slideInFromLeft 1s ease-in-out;
    color: #faf4f4;
}

.about .features {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Hace la sección responsive */
    margin-top: 30px;
    color: #faf4f4;
}


.about .feature-item {
    margin: 10px 20px;
    width: 200px;
    text-align: center;
    animation: fadeInUp 1.2s ease-in-out;
}

.feature-item {
    border-radius: 10px;
    padding: 2%;
    background: rgb(7,7,9);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}
.about .feature-item .icon {
    font-size: 3rem;
    margin-bottom: 10px;
}

.about .feature-item h3 {
    font-size: 1.5rem;
    margin-top: 10px;
}


.feature-item {
    transition: 400ms;
}

.feature-item:hover{
    transform: scale(1.1, 1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.feature-item:active{
    transform: scale(1.1, 1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}








/* SECCIÓN PRECIOS */
.pricing {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px 20px;
}

.pricing h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #faf4f4;
}



.pricing-plans {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pricing .plan {
    background: #a39f9f;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}


.plan:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}


  
  

.pricing .plan.featured {
    background: rgb(7,7,9);
    background: -moz-linear-gradient(90deg, rgba(7,7,9,1) 0%, rgba(52,32,1,1) 91%);
    background: -webkit-linear-gradient(90deg, rgba(7,7,9,1) 0%, rgba(52,32,1,1) 91%);
    background: linear-gradient(90deg, rgba(7,7,9,1) 0%, rgba(52,32,1,1) 91%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#070709",endColorstr="#342001",GradientType=1);    color: #dec4b8;
}


.plan-text{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0%;
}
.plan-text li{
    margin-bottom: 5%;
}

.plan h3{
    font-size: 2rem;
}

.plan p{
    margin-bottom: 15%;
}


/* btn effect */



.btn-pricing {
    position: relative;
    width: fit-content;
    padding: 10px 20px;
    background-color: rgb(46, 46, 46);
    border-radius: 50px;
    z-index: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 0.9em;
    font-weight: 600;
    transition: all 0.3s;
    border: none;

    margin: 0 auto;
}



.btn-pricing:hover {
    background-color: #ff5100;
    box-shadow: 0px 0px 40px rgba(255, 81, 0, 0.438);
}


.btn-pricing-active{
    background-color: #ff5100;
    box-shadow: 0px 0px 40px rgba(255, 81, 0, 0.438);
    transition: background-color 0.3s, box-shadow 0.3s;
 } /*se agrega con js al hacer click */

 @media (hover: none) and (pointer: coarse) {
    .btn-pricing:active {
        background-color: #ff5100;
    box-shadow: 0px 0px 40px rgba(255, 81, 0, 0.438);
    }
}


/* Estilos básicos para el modal de pago*/
/* Archivo CSS - Estilo Minimalista con Efecto Blur */

/* Contenedor del modal */
#modalContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(8px); /* Efecto de desenfoque */
  }
  
  /* Contenido del modal */
  #modalContent {
    background: #181818;
    width: 80%;
    max-width: 400px;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease-in-out;
    position: relative;
    text-align: center;
  }
  
  /* Animación de entrada */
  @keyframes fadeIn {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
  }
  
  /* Botón de cierre */
  #closeModal {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #555;
  }
  
  /* Contenido del modal */
  #modalContent h2 {
    margin: 0 0 1rem;
    font-size: 1.8rem;
    color: #989898;
  }
  
  #modalContent p {
    margin: 0.5rem 0;
    font-size: 1rem;
    color: #666;
  }
  
  #modalContent label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    color: #6c5b50;
  }

 /* Estilo del checkbox */
.custom-checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #656464;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
  }
  
  .custom-checkbox:checked {
    background: #ff5900;
    box-shadow: 0px 0px 40px rgba(255, 81, 0, 0.438);
  }
  
  .custom-checkbox:checked::after {
    content: '\2714';
    color: rgb(93, 91, 91);
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
 

  /* Botón de pago */
  #payButton {
    width: 100%;
    padding: 0.8rem;
    background: #ff5900;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1.5rem;
    transition: background 0.3s ease;
    transition: 0.2s;
  }
  
  #payButton:hover {
    background: #ff5900;
    box-shadow: 0px 0px 40px rgba(255, 81, 0, 0.438);
    color:  #ffffff;
  }
  
  /* Responsividad */
  @media (max-width: 600px) {
    #modalContent {
      width: 90%;
    }
  }
  
  





/* SECCIÓN CONTACTO */
.contact {
    padding: 60px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
    margin: 40px 15px;
    font-family: 'Poppins', sans-serif;
}

.contact h2 {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 20px;
    font-weight: 700;
    position: relative;
    animation: fadeInDown 1s ease-in-out;
}




.form {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(45deg, #330808, #3a2c09);
    border-radius: 2.5em;
    width: 90%;
    max-width: 300px;
    aspect-ratio: 6 / 7;
}

.form::before {
    content: '';
    background-image: linear-gradient(45deg, #ff0000, #ffb700);
    width: 102%;
    height: 102%;
    position: absolute;
    z-index: -1;
    border-radius: 2.7em;
}

.button {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background: #ff5900;
    color: rgb(255, 253, 253);
    padding: 0.7em 5.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 5em;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
    width: fit-content;
    max-width: 90%;
}

.button:hover {
    border: 2px solid #ff5900;
    background: transparent;
    color: #ff5900;
}

.button:active {
    border: 2px solid transparent;
    background: #ff5900;
    color: black;
}

.input {
    width: 70%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-bottom: 1px solid #ff5900;
    outline: none;
    background-color: transparent;
    color: #ff5900;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.2s;
}

.input:focus {
    border: 1px solid transparent;
    border-bottom: 1px solid #ff5900;
    background-color: transparent;
    color: white;
}

.input::placeholder {
    color: #9b725b;
}

.textarea {
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    border: 1px solid transparent;
    border-bottom: 1px solid #ff5900;
    outline: none;
    background-color: transparent;
    color: #ff5900;
    resize: none;
    cursor: pointer;
}

.textarea::placeholder {
    color: #9b725b;
}

.textarea:focus {
    border: 1px solid transparent;
    border-bottom: 1px solid #ff5900;
    background-color: transparent;
    color: white;
}




/* btn wssp */ 
.Btn-wssp {
    width: 230px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s;
    padding: 0%;
    z-index: 2;
    margin-top: 10%;
    margin-bottom: 10%;
}

.svgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all 0.3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
}

.BG {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #075e54;
    z-index: -1;
    border-radius: 10px;
    pointer-events: none;
    transition: all 0.3s;
}

/* Efecto hover para computadoras */
@media (hover: hover) {
    .Btn-wssp:hover .BG {
        transform: rotate(35deg);
        transform-origin: bottom;
    }

    .Btn-wssp:hover .svgContainer {
        background-color: rgba(156, 156, 156, 0.466);
        backdrop-filter: blur(4px);
    }
}

/* Efecto click para dispositivos móviles */
@media (hover: none) {
    .Btn-wssp:active .BG {
        transform: rotate(35deg);
        transform-origin: bottom;
    }

    .Btn-wssp:active .svgContainer {
        background-color: rgba(156, 156, 156, 0.466);
        backdrop-filter: blur(4px);
    }
} 



/* Animaciones */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsividad */


@media (min-width: 1500px) {
    header nav ul li a {
        font-weight: 600;
        font-size: 1.5rem;
    }

}



/* Animaciones */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}




/* Footer */
footer {
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

/* ANIMACIONES */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        transform: translateY(30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
